
body {   
    background-image: url("roughparchment.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.content {
    max-width: 960px;
    margin: 0 auto;
    font-size: 1.2em;
    /* border: 1px solid black; */
}
a {
    text-decoration: none;
}

h1 {
    text-align: center;
    color: maroon;
}

h3 {
    color: maroon;
}
/*---Header---*/
.header {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map {
    max-width: 100%;
    border-radius: 5px;
    border-radius: 15px;
    opacity: .80;
}

.nav {
    margin: .5rem 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 5px;
}

hr {
    color: maroon;
    width: 95%;
}

.nav a{
    padding: 1rem;
    font-size: 1.3em;
    color: maroon;
    text-decoration: none;
}


/*---Dungeon Features---*/

.dungeonFeatures {
    padding: 0 2.5rem;
}

.dungeonFeatures li {
    padding-bottom: .70em;
    font-size: 1.2em;
}

/*---Rooms---*/
.highlight {
    background-color: rgba(149, 0, 255, 0.3);
    border-radius: 2px;
}
.room {
    padding: 0 2.5rem;
}

.picWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.readAloud {
    background-color: rgba(255, 255, 255, .5);
    padding: 1rem;
    max-width: 55%;
    margin: 1rem 0;
    border-radius: 5px;
}

.roomPic {
    max-height: 220px;
    margin-top: .25rem;
    margin-right: 2rem;
    border-radius: 15px;
    opacity: .85;
}

.hazard {
    background-color: rgba(255, 0, 0, .3);
    padding: 1rem;
    border-radius: 5px;
}

.monsterWrap {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 1rem auto;
}

.monster {
    opacity: 0.65;
    height: 26rem;
    border-radius: 15px;
}

.stats hr {
    width: 100%;
}

.monsterstats {
    max-width: 100%;
    text-align: center;
    border-radius: 15px;
    margin: .5rem auto;
}

.rewards {
    background-color: rgba(0, 162, 255, 0.3);
    padding: 1rem;
    border-radius: 5px;
}